<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/fragment :: head}"></div>
</head>
<body>
<div class="container-fluid">

  <!-- header -->
  <div th:replace="~{fragments/fragment :: header}"></div>

  <!-- section -->
  <div class="d-flex" style="height: calc(100vh - 60px);">

    <!-- Sidebar-->
    <nav th:replace="~{fragments/fragment :: sidebar}"></nav>
    <!-- Sidebar -->

    <div id="mainArea">
    <div th:fragment="productDetailPage">

      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="pe-7s-box2 icon-gradient bg-mean-fruit"></i>
            </div>
            <div>Product
              <div class="page-title-subheading">View, create, update, delete, and manage products.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12">
          <a th:if="${editMode || viewMode}"
             onclick="getContent(event, this.href)"
             th:href="@{/products/new}"
             class="btn btn-primary mb-2">Thêm sản phẩm mới</a>

          <a th:if="${viewMode}"
             onclick="getContent(event, this.href)"
             th:href="@{/products/edit/{id}(id=${newProduct.productID})}"
             class="btn btn-primary mb-2">Thay đổi thông tin</a>

          <div class="main-card mb-3 card">
            <div class="card-body" style="background-color: var(--main-component-color)">

              <form th:action="${exist ? '/products/edit/' + newProduct.productID : '/products/new'}"
                    th:object="${newProduct}"
                    method="post"
                    enctype="multipart/form-data"
                    onsubmit="postContent(event, this)">
                <!-- ID -->
                <div class="position-relative mb-3 row form-group">
                  <label class="col-md-3 text-md-right col-form-label">Mã sản phẩm</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required readonly name="productID" type="text"
                           class="form-control" th:value="${newProduct.productID}">
                    <p th:if="${viewMode}" th:text="${newProduct.productID}"></p>
                  </div>
                </div>

                <!-- Name -->
                <div class="position-relative mb-3 row form-group">
                  <label class="col-md-3 text-md-right col-form-label">Tên sản phẩm</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="productName" type="text"
                           class="form-control"  th:value="${exist ? newProduct.productName : null}">
                    <p th:if="${viewMode}" th:text="${newProduct.productName}"></p>
                  </div>
                </div>

                <!-- Price -->
                <div class="position-relative mb-3 row form-group">
                  <label class="col-md-3 text-md-right col-form-label">Đơn giá</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="price" type="number" step="0.01"
                           class="form-control"  th:value="${exist ? newProduct.price : null}">
                    <p th:if="${viewMode}" th:text="${newProduct.price}"></p>
                  </div>
                </div>

                <!-- Quantity -->
                <div class="position-relative mb-3 row form-group">
                  <label class="col-md-3 text-md-right col-form-label">Tồn kho</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="quantity" type="number" step="1"
                           class="form-control"  th:value="${exist ? newProduct.quantity : null}">
                    <p th:if="${viewMode}" th:text="${newProduct.quantity}"></p>
                  </div>
                </div>

                <!-- Category -->
                <div class="position-relative mb-3 row form-group">
                  <label class="col-md-3 text-md-right col-form-label">Loại sản phẩm</label>
                  <div class="col-md-9 col-xl-8">
                    <select th:if="${editMode}" required name="category" class="form-control">
                      <option value="">-- Select Category --</option>
                      <option th:value="1" th:selected="${exist ? newProduct.category.categoryID == 1 : null}">Laptops</option>
                      <option th:value="2" th:selected="${exist ? newProduct.category.categoryID == 2 : null}">Smartphones</option>
                      <option th:value="3" th:selected="${exist ? newProduct.category.categoryID == 3 : null}">Tablets</option>
                      <option th:value="4" th:selected="${exist ? newProduct.category.categoryID == 4 : null}">Desktops</option>
                      <option th:value="5" th:selected="${exist ? newProduct.category.categoryID == 5 : null}">Accessories</option>
                    </select>
                    <p th:if="${viewMode}" th:text="${newProduct.category.categoryName}"></p>
                  </div>
                </div>

                <!-- Supplier -->
                <div class="position-relative mb-3 row form-group">
                  <label class="col-md-3 text-md-right col-form-label">Nhà cung cấp</label>
                  <div class="col-md-9 col-xl-8">
                    <select th:if="${editMode}" required name="supplier" class="form-control">
                      <option value="">-- Chọn Nhà Cung Cấp --</option>
                      <option th:each="supplier : ${suppliers}"
                              th:value="${supplier.supplierID}"
                              th:text="${supplier.supplierName}"
                              th:selected="${exist ? newProduct.supplier != null && supplier.supplierID == newProduct.supplier.supplierID
                                             : null }">
                      </option>
                    </select>
                    <p th:if="${viewMode}" th:text="${newProduct.supplier != null ? newProduct.supplier.supplierName : ''}"></p>
                  </div>
                </div>

                <!-- Image Upload-->
                <div class="position-relative mb-3 row form-group">
                  <label class="col-md-3 text-md-right col-form-label">Hình ảnh</label>
                  <div class="col-md-9 col-xl-8">

                    <div  th:if="${editMode}">
                      <label for="file-upload" class="btn btn-primary">Thêm ảnh từ thiết bị</label>
                      <input  name="image"
                              type="file"
                              id="file-upload"
                              class="form-control-file" style="display: none"
                              accept="/image/products/*"
                              multiple>
                      <ul id="file-list" class="mt-2"></ul>
                    </div>

                    <div th:if="${exist}" class="mt-2">
                      <div class="product-image-gallery overflow-auto" th:if="${images != null && !#lists.isEmpty(images)}">
                        <div th:each="image : ${images}" class="d-inline-block p-2">
                          <img class="img-fluid rounded-3"
                               th:src="@{${'/products/display?id=' + image.id}}" alt=""
                               style="width: 90px; height: 90px; object-fit: cover;">
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
                <!-- Action Buttons -->
                <div th:if="${editMode}" class="position-relative row form-group mb-1">
                  <div class="col-md-9 col-xl-8 offset-md-2">
                    <a href="#" class="border-0 btn btn-outline-danger mr-1" onclick="cancelEdit(event)">
                      <i class="fa fa-times fa-w-20"></i> Cancel
                    </a>
                    <button type="submit" class="btn-shadow btn-hover-shine btn btn-primary">
                      <i class="fa fa-download fa-w-20"></i> Save
                    </button>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

  <!-- footer -->
  <div th:replace="~{fragments/fragment :: footer}"></div>
</div>
</body>
</html>