<!DOCTYPE html>
<html lang="en">
<head>
  <div th:fragment="head">
    <title>Trang chủ - SmartSales</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/image/security-logo.png}" type="image/x-icon">

    <!-- import css bootstrap và fontawesome -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- import JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <!-- import css, js static-->
    <link rel="stylesheet" th:href="@{/css/home.css}">

    <script th:src="@{/js/home.js}"></script>
  </div>

</head>
<body>
<div th:fragment="header" class="row p-2">
  <div class="col d-flex align-items-center">
    <img th:src="@{/image/security-logo.png}" alt="Logo" style="height: 40px; margin-right: 10px;">
    <h3 class="mb-0">SmartSales</h3>
  </div>
  <div class="col text-end d-flex justify-content-end align-items-center">
    <i class="fas fa-bell fa-2x me-4"></i>
    <i class="fas fa-envelope fa-2x me-4"></i>
    <div class="user-info d-flex align-items-center">
      <div class="dropdown">
        <img src="https://via.placeholder.com/40" alt="User Avatar" class="rounded-circle me-2" id="user-avatar" data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu" aria-labelledby="user-avatar">
          <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> View Profile</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> Account Setting</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-user-friends"></i> Switch Account</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-bell"></i> Notification</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-question-circle"></i> Help Center</a></li>
          <li>
            <form th:action="@{/logout}" method="post">
              <button class="border-0 dropdown-item" type="submit">
                <i class="fas fa-sign-out-alt fs-6"></i> Logout
              </button>
            </form>
          </li>
        </ul>
      </div>
      <div>
        <p class="mb-0" th:text="'Role: ' + ${currentUser.role} + ', Employee ID: ' + ${currentUser.employeeId}"></p>
        <p class="mb-0" id="current-date">Thứ Bảy, 12 tháng 10, 2024, 14:30:44</p>
      </div>
    </div>
  </div>
</div>
<nav th:fragment="sidebar" class="navbar sidebar col-md-2 vh-100" style=" z-index: 1">
  <ul class="nav flex-column" id="sidebar">
    <li class="nav-item active">
      <a class="nav-link" href="/dashboard" onclick="getContent(event, this.href)">
        <i class="fas fa-cogs"></i>
        <span class="item-text">Hệ Thống</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products" onclick="getContent(event, this.href)">
        <i class="fas fa-box"></i>
        <span class="item-text">Sản Phẩm</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customers" onclick="getContent(event, this.href)">
        <i class="fas fa-user-tie"></i>
        <span class="item-text">Khách Hàng</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/orders"  onclick="getContent(event, this.href)">
        <i class="fas fa-shopping-cart"></i>
        <span class="item-text">Đơn Hàng</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/employees"  onclick="getContent(event, this.href)">
        <i class="fas fa-users"></i>
        <span class="item-text">Nhân Viên</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/suppliers" onclick="getContent(event, this.href)">
        <i class="fas fa-truck"></i>
        <span class="item-text">Nhà Cung Cấp</span>
      </a>
    </li>
  </ul>
</nav>

</body>
</html>