<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SmartSales - Sidebar</title>
</head>
<body>
<nav id="sidebar" th:fragment="sidebar(activePage)">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a th:classappend="${activePage == 'home'} ? 'active'" class="nav-link" href="/">
                <i class="fas fa-cogs"></i>
                <span class="item-text">Trang Chủ</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:classappend="${activePage == 'products'} ? 'active'" class="nav-link" href="/products">
                <i class="fas fa-box"></i>
                <span class="item-text">Quản lý Sản Phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:classappend="${activePage == 'customers'} ? 'active'" class="nav-link" href="/customers">
                <i class="fas fa-user-tie"></i>
                <span class="item-text">Quản lý Khách Hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:classappend="${activePage == 'orders'} ? 'active'" class="nav-link" href="/orders">
                <i class="fas fa-shopping-cart"></i>
                <span class="item-text">Quản lý Đơn Hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:classappend="${activePage == 'employees'} ? 'active'" class="nav-link" href="/employees">
                <i class="fas fa-users"></i>
                <span class="item-text">Quản lý Nhân Viên</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:classappend="${activePage == 'suppliers'} ? 'active'" class="nav-link" href="/suppliers">
                <i class="fas fa-truck"></i>
                <span class="item-text">Quản lý Nhà Cung Cấp</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>
