<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/fragment :: head}"></div>
</head>
<body>
<div class="container-fluid">

    <!-- header -->
    <div th:replace="~{fragments/fragment :: header}"></div>

    <!-- section -->
    <div class="d-flex" style="height: calc(100vh - 60px);">

        <!-- Sidebar-->
        <nav th:replace="~{fragments/fragment :: sidebar}"></nav>
        <!-- Sidebar -->

        <div id="mainArea">
            <div th:fragment="employeePage">
                <section class="content-header">
                    <h1>Quản lý nhân viên</h1>
                    <ol class="breadcrumb">
                        <li><a href="/" onclick="getContent(event, this.href)"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active"><i class="fas fa-box"></i>Employee</li>
                    </ol>
                </section>

                <section class="content-main px-3">
                    <div class="productMan">

                        <!-- Search bar -->
                        <div class="row mb-3">
                            <!-- Cột nút hành động -->
                            <div class="col-md-6">
                                <a  onclick="getContent(event, this.href)" href="/employees/new" class="btn btn-primary btn-sm">+ Thêm nhân viên</a>
                                <button id="exportExcelBtn"
                                        class="btn btn-success btn-sm"
                                        onclick="exportTableToExcel()">Xuất ra Excel</button>
                            </div>

                            <!-- Tìm kiếm -->
                            <div class="col-md-6 d-flex justify-content-end flex-column">
                                <div class="form-inline ml-auto mt-4">
                                    <form action="/employees/search"
                                          onsubmit="postContent(this)"
                                          method="POST"
                                          class="d-flex search-form">
                                        <input  type="text" class="form-control" placeholder="Tìm kiếm..." name="keyword" aria-label="Search">
                                        <button type="submit" class="btn btn-primary ml-2">
                                            Tìm kiếm
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- Search bar -->

                        <!-- Table  -->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-light">
                                <tr>
                                    <th>#ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phòng ban</th>
                                    <th>Role</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee : ${employees}">
                                    <td th:text="${employee.employeeId}"></td>
                                    <td th:text="${employee.name}"></td>
                                    <td th:text="${employee.email}"></td>
                                    <td th:text="${employee.department}" ></td>
                                    <td th:text="${employee.role}"></td>
                                    <td>
                                        <a class="btn btn-hover-shine btn-outline-primary border-0 btn-sm"
                                           th:href="@{/employees/detail/{id}(id=${employee.employeeId})}"
                                           onclick="getContent(event, this.href)">
                                            Detail
                                        </a>
                                        <a style="text-decoration: none"
                                           th:href="@{/employees/edit/{id}(id=${employee.employeeId})}"
                                           onclick="getContent(event, this.href)">
                                            <button class="btn btn-outline-warning border-0 btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </a>

                                        <form th:action="@{/employees/delete/{id}(id=${employee.employeeId})}"
                                              method="post" style="display:inline;"
                                              onsubmit="postContent(event, this)">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            <button type="submit" class="btn btn-outline-danger border-0 btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Table  -->


                        <!-- Phân trang -->
                        <nav class="d-flex justify-content-end">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                    <a class="page-link"
                                       onclick="getContent(event, this.href)" th:href="@{/employees(page=${currentPage - 1})}">Previous</a>
                                </li>
                                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${i == currentPage} ? 'active'">
                                    <a class="page-link"
                                       onclick="getContent(event, this.href)" th:href="@{/employees(page=${i})}" th:text="${i + 1}"></a>
                                </li>
                                <li class="page-item"  th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                    <a class="page-link"
                                       onclick="getContent(event, this.href)" th:href="@{/employees(page=${currentPage + 1})}">Next</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- Phân trang -->

                    </div>
                </section>

            </div>
        </div>


    </div>
    <!-- section -->

    <!-- footer -->
    <div th:replace="~{fragments/fragment :: footer}"></div>
</div>

</body>
</html>