/* Reset box-sizing */
* {
    box-sizing: border-box;
}

/* Cài đặt cho body */
body {
    background: #fafafa;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Container chính */
.container-fluid {
    margin: 0;
    padding: 0;
}

/* ===================================== */
/*              HEADER                   */
/* ===================================== */
header {
    height: 60px;
    /* background-color: #872992; */
    background-color: #3c8dbc;
    /* Màu nền của header */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    transition: all 0.3s;
    padding: 0;
    margin: 0;
}

.navbar-dark {
    /* chỉnh màu cho logo và nút toggle */
    color: white;
    font-weight: bold;
}

/* Style cho nút toggle */
#sidebarCollapse {
    border: none;
    color: white;
    margin: 0;
    padding: 0;
    padding: 17px 18px;
    font-weight: bold;
    transition: background 0.1s;
}

/* Hiệu ứng hover cho nút toggle */
#sidebarCollapse:hover {
    background-color: #357abd
}


.navbar.active {
    transform: translateX(-190px);
    transition: all 0.3s;
}

.navbar-brand {
    margin: 0;
    display: block;
    transition: all 0.3s;
    transition: background 0.1s;
    padding: 15px;
    padding-right: 35px;
}

.navbar-brand:hover {
    background-color: #357abd
}

/* ===================================== */
/*          USER AVATAR                 */
/* ===================================== */
.user-info p {
    font-size: 14px;
    color: white;
    /* Màu chữ cho user-info */
}

#user-avatar {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    margin-right: 10px;
}

#user-avatar:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    /* Hiệu ứng shadow khi hover */
}

/* ===================================== */
/*              SIDEBAR                  */
/* ===================================== */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #222d32;
    /* Màu nền của sidebar */
    color: #ffffff;
    transition: all 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar.active {
    margin-left: -190px;
    /* Ẩn sidebar khi không hoạt động */
}

#sidebar.active .nav-link {
    justify-content: flex-end;
    /* Căn icon sang phải khi sidebar thu nhỏ */
}

#sidebar .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #b8c7ce;
    padding: 15px 20px;
    transition: background 0.1s;
}

#sidebar .nav-link:hover {
    background-color: #357abd;
    color: #fff;
    overflow: hidden;
}

.item-text {
    color: #b8c7ce;
    margin-left: 3px;
}

#sidebar .nav-link:hover .item-text {
    color: #fff;
    font-weight: bold;
}

#sidebar .nav-link.active {
    background-color: #444;
    /* Màu nền khi nav-link hoạt động */
}

#sidebar .nav-link i {
    transition: all 0.3s;
    padding: 3px;
}

#sidebar .nav-link:hover i {
    font-size: 17px;
    color: #fff;
}


#sidebar.active .nav-link .item-text {
    display: none;
    /* Ẩn text khi sidebar thu nhỏ */
}

/* Media query cho sidebar */
@media (min-width: 768px) {
    #sidebar.active {
        display: none;
        /* Ẩn sidebar khi ở chế độ active */
        transition: all 0.3s;
    }

    #sidebar.active {
        display: block;
        /* Hiển thị sidebar khi không active */
        transition: all 0.3s;
    }
}



/* ===================================== */
/*              CONTENT                  */
/* ===================================== */
#content {
    width: 100%;
    transition: all 0.3s;
    /* Đồng bộ thời gian transition */
    overflow-y: auto;
    height: calc(100vh - 50px);
    background: #ecf0f5;


}

.content-main {
    min-height: calc(100vh - 50px - 50px);
    /* Chiều cao tối thiểu cho content main */
    padding: 0px;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.content-header {
    position: relative;
    padding: 12.6px 15px;
}

.content-header>h1 {
    margin: 0;
    font-size: 24px;
}

.content-header>.breadcrumb>li>a {
    color: #444;
    text-decoration: none;
    display: inline-block;
}

.content-header>.breadcrumb>li+li:before {
    content: '>\00a0';
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb>.active {
    color: #777;
}

/* ===================================== */
/*              FOOTER                   */
/* ===================================== */
.footer {
    background: #fff;
    /* Màu nền của footer */
    color: #444;
    border-top: 1px solid #d2d6de;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    /* Chiều cao của footer */
}

/* hết layout */


/* =========================================== */
/*                                             */
/* =========================================== */
/* Css cho content của trang home */

.info-box {
    display: flex;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 3px;
    overflow: hidden;
}

.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.info-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    color: #fff;
}

.info-box-content {
    height: 90px;
    flex-grow: 1;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: #333333;
}

.info-box-text {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.info-box-number {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

.top-products {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-products-items {
    padding-top: 15px;
}

.top-products-items img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #007bff;
    margin-bottom: 10px;
}


.top-products-items:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid orange;
}


.top-products .btn-primary {
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s;
}



/* ================================ */
/* khách hàng mới nhất moi nhat */

.new-customers {
    background-color: #fff;
    margin-top: 10px;
}

.new-customers-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    border-top: 1px solid #b8c7ce;
    border-bottom: 1px solid #b8c7ce;
}

.new-customers-list>li {
    padding: 15px;
}

.new-customers-list>li img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.new-customers-list-name {
    font-weight: 600;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.footer-list-box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

/* Sản phẩm mới nhất */
.new-products{
    background-color: #fff;
    margin-top: 10px;
}
.new-products-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #b8c7ce;
}
.new-products-list>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0px;
    border-bottom: 1px solid #b8c7ce;
}
.new-products-list-info>img{
    height: 50px;
}
.new-products-list-name{
    font-size: 14px;
    color: #3c8dbc;;
    margin-left: 20px;
}
.new-products-list-price{
    justify-content: flex-end;
    margin-right: 10px;
    padding: 0px 5px;
    border-radius: 5px;
}