<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="~{fragments/head :: head('Smart Seller | Trang chủ')}"></head>
<body>
<div class="container-fluid">
    <!-- Header -->
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="d-flex" style="height: calc(100vh - 60px);">
        <!-- Sidebar -->
        <!--<div th:replace="~{fragments/sidebar :: sidebar}"></div>-->
        <div th:replace="fragments/sidebar :: sidebar('home')"></div>
        <!-- Page Content -->
        <div id="content">
            <section class="content-header">
                <h1>Trang chủ</h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/}"><i class="fa fa-home"></i> Trang chủ</a></li>
                    <li class="active"><i class="fas fa-tachometer-alt"></i> Dashboard</li>
                </ol>
            </section>

            <section class="content-main px-3">
                <!-- Nội dung dashboard -->
                <!-- dashbord -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box ">
                                <span class="info-box-icon fa-2x bg-primary">
                                    <i class="fas fa-file-invoice-dollar "></i>
                                </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Đơn hàng</span>
                                <span class="info-box-number">760</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon fa-2x bg-danger"><i class="fas fa-boxes"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Tồn kho</span>
                                <span class="info-box-number">60<small>%</small></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box ">
                            <span class="info-box-icon fa-2x bg-success"><i class="fas fa-chart-line "></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Doanh thu</span>
                                <span class="info-box-number">41,410,312 <small>VND</small></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box ">
                            <span class="info-box-icon fa-2x bg-warning"><i class="fas fa-users "></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Khách hàng</span>
                                <span class="info-box-number">2,000</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>

                <div class="row m-0 p-0">
                    <div class="col-md-6 col-sm-12 new-customers my-2">
                        <h3 class="mt-2 ">Khách hàng mới nhất</h3>
                        <ul class="new-customers-list">
                            <li>
                                <img src="https://via.placeholder.com/100" alt="User Image">
                                <a class="new-customers-list-name" href="#">User 99</a>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/100" alt="User Image">
                                <a class="new-customers-list-name" href="#">User 98</a>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/100" alt="User Image">
                                <a class="new-customers-list-name" href="#">User 97</a>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/100" alt="User Image">
                                <a class="new-customers-list-name" href="#">User 96</a>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/100" alt="User Image">
                                <a class="new-customers-list-name" href="#">User 95</a>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/100" alt="User Image">
                                <a class="new-customers-list-name" href="#">User 94</a>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/100" alt="User Image">
                                <a class="new-customers-list-name" href="#">User 93</a>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/100" alt="User Image">
                                <a class="new-customers-list-name" href="#">User 92</a>
                            </li>
                        </ul>
                        <div class="footer-list-box text-center">
                            <a href="#">Xem tất cả khách hàng</a>
                        </div>
                    </div>

                    <!-- Mục sản phẩm mới nhất -->
                    <div class="col-md-6 col-sm-12 new-products my-2">
                        <h3 class="mt-2">Sản phẩm mới nhất</h3>
                        <ul class="new-products-list">
                            <li>
                                <div class="new-products-list-info">
                                    <img src="https://via.placeholder.com/100" alt="">
                                    <a class="new-products-list-name" href="#">Samsung Galaxy note 2024</a>
                                </div>
                                <span class="new-products-list-price bg-warning">$2800</span>
                            </li>
                            <li>
                                <div class="new-products-list-info">
                                    <img src="https://via.placeholder.com/100" alt="">
                                    <a class="new-products-list-name" href="#">Iphone 16</a>
                                </div>
                                <span class="new-products-list-price bg-primary">$3500</span>
                            </li>
                            <li>
                                <div class="new-products-list-info">
                                    <img src="https://via.placeholder.com/100" alt="">
                                    <a class="new-products-list-name" href="#">Xiaomi X2024</a>
                                </div>
                                <span class="new-products-list-price bg-info">$2100</span>
                            </li>
                            <li>
                                <div class="new-products-list-info">
                                    <img src="https://via.placeholder.com/100" alt="">
                                    <a class="new-products-list-name" href="#">Laptop ASUS VivoBook 15 XP</a>
                                </div>
                                <span class="new-products-list-price bg-success">$7800</span>
                            </li>
                        </ul>
                        <div class="footer-list-box text-center">
                            <a href="#">Xem tất cả sản phẩm</a>
                        </div>
                    </div>
                    <!--./new-product-list-->

                    <!-- Đơn hàng gần đây -->
                    <div class="col-md-12 col-sm-12 my-2 new-orders">
                        <h3 class="mt-2">Đơn hàng mới nhất</h3>
                        <div class="table-responsive new-orders-list">
                            <table class="table table-hover ">
                                <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Tình trạng</th>
                                    <th>Tổng giá</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>#1009</td>
                                    <td>Sản phẩm A</td>
                                    <td>2</td>
                                    <td>11/11/2024</td>
                                    <td><span class="btn btn-sm btn-outline-danger">Chưa xử lý</span></td>
                                    <td>200,000 VNĐ</td>
                                </tr>
                                <tr>
                                    <td>#1008</td>
                                    <td>Sản phẩm B</td>
                                    <td>1</td>
                                    <td>06/11/2024</td>
                                    <td><span class="btn btn-sm btn-outline-warning">Đang xử lý</span></td>
                                    <td>150,000 VNĐ</td>
                                </tr>
                                <tr>
                                    <td>#1007</td>
                                    <td>Sản phẩm C</td>
                                    <td>3</td>
                                    <td>12/10/2024</td>
                                    <td><span class="btn btn-sm btn-outline-success">Đã giao</span></td>
                                    <td>450,000 VNĐ</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer-list-box text-center">
                            <a href="#">Xem tất cả đơn hàng</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
</html>
