<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-card">

  <a class="btn btn-hover mr-auto mb-2 d-flex justify-content-start align-items-center" style="width: 125px" href="/">
    <i class="fa-solid fa-arrow-left mr-2"></i>
    <span>Quay lại</span>
  </a>

  <h2>Đăng nhập</h2>

  <div th:if="${error}" class="alert alert-danger">
    <span th:text="${error}"></span>
  </div>

  <form id="form-login" th:action="@{/login}" method="post">
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" id="login-as-manager" style="width: 20px; height: 20px" class="form-check-input">
      <label class="form-check-label ml-2" for="login-as-manager">Login as Manager</label>
    </div>
    <button type="submit" class="btn btn-login">LOGIN</button>
  </form>

  <div class="social-login">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-google"></i></a>
  </div>
  <div class="text-right mt-3">
    <a href="#">Forgot password?</a>
  </div>
</div>

<script>
  // JavaScript code to dynamically change form action for login
  const loginAsManagerCheckbox = document.getElementById('login-as-manager');
  const formLogin = document.getElementById('form-login');

  loginAsManagerCheckbox.addEventListener('change', function() {
    if (this.checked) {
      formLogin.action = '/login-internal';  // Đăng nhập với tư cách Manager
    } else {
      formLogin.action = '/login-customer';  // Đăng nhập với tư cách Customer
    }
  });

  if (loginAsManagerCheckbox.checked) {
    formLogin.action = '/login-internal';
  } else {
    formLogin.action = '/login-customer';
  }
</script>
</body>
</html>
