<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{/home :: head}"></div>
</head>
<body>
<div class="container-fluid">

  <!-- section -->
  <div class="row" id="sectionOfMain">

    <!-- Main Content -->
    <div class="col-md-10 p-2" th:fragment="customerDetailPage">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="pe-7s-ticket icon-gradient bg-mean-fruit"></i>
            </div>
            <div>User
              <div class="page-title-subheading">View, create, update, delete and manage.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="main-card mb-3 card">
            <div class="card-body">

              <form th:if="${exist}"  th:action="@{/customers/edit/{id}(id=${newCustomer.customerID})}"
                                      th:object="${newCustomer}"
                                      method="post"
                                      enctype="multipart/form-data"
                                      onsubmit="postContent(event, this)">
                <!-- id -->
                <div class="position-relative row form-group">
                  <label for="customerID" class="col-md-3 text-md-right col-form-label">ID</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required disabled name="customerID" id="customerID" type="text"
                           class="form-control" th:placeholder="customerID" th:value="${newCustomer.customerID}">
                    <p th:if="${viewMode}" th:text="${newCustomer.customerID}"></p>
                  </div>
                </div>

                <!-- Name -->
                <div class="position-relative row form-group">
                  <label for="companyName" class="col-md-3 text-md-right col-form-label">Name</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="companyName" id="companyName" type="text"
                           class="form-control" th:placeholder="Name" th:value="${newCustomer.companyName}">
                    <p th:if="${viewMode}" th:text="${newCustomer.companyName}"></p>
                  </div>
                </div>

                <!-- Email -->
                <div class="position-relative row form-group">
                  <label for="email" class="col-md-3 text-md-right col-form-label">Email</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="email" id="email" type="email" class="form-control" th:placeholder="Email" th:value="${newCustomer.email}">
                    <p th:if="${viewMode}" th:text="${newCustomer.email}"></p>
                  </div>
                </div>

                <!-- Address -->
                <div class="position-relative row form-group">
                  <label for="address" class="col-md-3 text-md-right col-form-label">Address</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" name="address" id="address" type="text" class="form-control" th:placeholder="Address" th:value="${newCustomer.address}">
                    <p th:if="${viewMode}" th:text="${newCustomer.address}"></p>
                  </div>
                </div>

                <!-- Phone -->
                <div class="position-relative row form-group">
                  <label for="phone" class="col-md-3 text-md-right col-form-label">Phone</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="phone" id="phone" type="tel" class="form-control" th:placeholder="Phone" th:value="${newCustomer.phone}">
                    <p th:if="${viewMode}" th:text="${newCustomer.phone}"></p>
                  </div>
                </div>

                <!-- Type -->
                <div class="position-relative row form-group">
                  <label for="type" class="col-md-3 text-md-right col-form-label">Type</label>
                  <div class="col-md-9 col-xl-8">
                    <select th:if="${editMode}" required name="type" id="type" class="form-control">
                      <option value="">-- Select Type --</option>
                      <option value="Individual" th:selected="${newCustomer.type == 'Individual'}">Individual</option>
                      <option value="Corporate" th:selected="${newCustomer.type == 'Corporate'}">Corporate</option>
                      <option value="VIP" th:selected="${newCustomer.type == 'VIP'}">VIP</option>
                    </select>
                    <p th:if="${viewMode}" th:text="${newCustomer.type}"></p>
                  </div>
                </div>

                <!-- Action Buttons -->
                <div th:if="${editMode}" class="position-relative row form-group mb-1">
                  <div class="col-md-9 col-xl-8 offset-md-2">
                    <a href="#" class="border-0 btn btn-outline-danger mr-1">
                      <i class="fa fa-times fa-w-20"></i> Cancel
                    </a>
                    <button type="submit" class="btn-shadow btn-hover-shine btn btn-primary">
                      <i class="fa fa-download fa-w-20"></i> Save
                    </button>
                  </div>
                </div>

              </form>

              <form th:unless="${exist}"  th:action="@{/customers/new}"
                                          th:object="${newCustomer}"
                                          method="post"
                                          enctype="multipart/form-data"
                                          onsubmit="postContent(event, this)">
                <!-- id -->
                <div class="position-relative row form-group">
                  <label for="customerID" class="col-md-3 text-md-right col-form-label">ID</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required readonly name="customerID" type="text"
                           class="form-control" th:placeholder="customerID" th:value="${newCustomer.customerID}">
                    <p th:if="${viewMode}" th:text="${newCustomer.customerID}"></p>
                  </div>
                </div>

                <!-- Name -->
                <div class="position-relative row form-group">
                  <label for="companyName" class="col-md-3 text-md-right col-form-label">Name</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="companyName" type="text"
                           class="form-control" th:placeholder="Name" th:value="${newCustomer.companyName}">
                    <p th:if="${viewMode}" th:text="${newCustomer.companyName}"></p>
                  </div>
                </div>

                <!-- Email -->
                <div class="position-relative row form-group">
                  <label for="email" class="col-md-3 text-md-right col-form-label">Đơn giá</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="email" type="email" class="form-control" th:placeholder="Email" th:value="${newCustomer.email}">
                    <p th:if="${viewMode}" th:text="${newCustomer.email}"></p>
                  </div>
                </div>

                <!-- Address -->
                <div class="position-relative row form-group">
                  <label for="address" class="col-md-3 text-md-right col-form-label">Address</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" name="address" type="text" class="form-control" th:placeholder="Address" th:value="${newCustomer.address}">
                    <p th:if="${viewMode}" th:text="${newCustomer.address}"></p>
                  </div>
                </div>

                <!-- Phone -->
                <div class="position-relative row form-group">
                  <label for="phone" class="col-md-3 text-md-right col-form-label">Phone</label>
                  <div class="col-md-9 col-xl-8">
                    <input th:if="${editMode}" required name="phone"type="tel" class="form-control" th:placeholder="Phone" th:value="${newCustomer.phone}">
                    <p th:if="${viewMode}" th:text="${newCustomer.phone}"></p>
                  </div>
                </div>

                <!-- Type -->
                <div class="position-relative row form-group">
                  <label for="type" class="col-md-3 text-md-right col-form-label">Type</label>
                  <div class="col-md-9 col-xl-8">
                    <select th:if="${editMode}" required name="type" class="form-control">
                      <option value="">-- Select Type --</option>
                      <option value="Individual" th:selected="${newCustomer.type == 'Individual'}">Individual</option>
                      <option value="Corporate" th:selected="${newCustomer.type == 'Corporate'}">Corporate</option>
                      <option value="VIP" th:selected="${newCustomer.type == 'VIP'}">VIP</option>
                    </select>
                    <p th:if="${viewMode}" th:text="${newCustomer.type}"></p>
                  </div>
                </div>

                <!-- Action Buttons -->
                <div th:if="${editMode}" class="position-relative row form-group mb-1">
                  <div class="col-md-9 col-xl-8 offset-md-2">
                    <a href="#" class="border-0 btn btn-outline-danger mr-1" onclick="cancelEdit(event)">
                      <i class="fa fa-times fa-w-20"></i> Cancel
                    </a>
                    <button type="submit" class="btn-shadow btn-hover-shine btn btn-primary">
                      <i class="fa fa-download fa-w-20"></i> Save
                    </button>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Content -->

  </div>
</div>
</body>
</html>

