<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/fragment :: head}"></div>
</head>
<body>
<div class="container-fluid">

  <!-- header -->
  <div th:replace="~{fragments/fragment :: header}"></div>

  <!-- section -->
  <div class="d-flex" style="height: calc(100vh - 60px);">

    <!-- Sidebar-->
    <nav th:replace="~{fragments/fragment :: sidebar}"></nav>
    <!-- Sidebar -->

    <div id="mainArea">
      <div th:fragment="customerPage">

        <section class="content-header">
          <h1>Quản lý khách hàng</h1>
          <ol class="breadcrumb">
            <li><a href="/internal" onclick="getContent(event, this.href)"><i class="fa fa-home"></i>Home</a></li>
            <li class="active"><i class="fas fa-box"></i>Customer</li>
          </ol>
        </section>

        <section class="content-main px-3">
          <div class="productMan">

            <div class="row mb-3">
              <!-- Cột nút hành động -->
              <div class="col-md-6">
                <a  onclick="getContent(event, this.href)" href="/customers/new" class="btn btn-primary btn-sm">+ Thêm khách hàng</a>
                <button id="exportExcelBtn"
                        class="btn btn-success btn-sm"
                        onclick="exportTableToExcel()">Xuất ra Excel</button>
              </div>


              <!-- Tìm kiếm -->
              <div class="form-inline ml-auto">
                <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#searchModal"
                        onclick="focusInput()">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  Tìm kiếm
                </button>

                <!-- Modal -->
                <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <div class="modal-body">

                        <form th:action="@{/customers}"
                              method="GET"
                              onsubmit="searchContent(event, this); closeModal()"
                              class="d-flex search-form">
                          <input type="text"
                                 class="search-input"
                                 placeholder="Tìm kiếm..."
                                 name="keyword"
                                 th:value="${keyword}"
                                 aria-label="Search">
                          <button id="search-submit" type="submit">
                            <i class="fa-solid fa-magnifying-glass" style="font-size: 30px"></i>
                          </button>
                        </form>

                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <!-- Tìm kiếm -->

            </div>

            <!-- Table  -->
             <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>#ID</th>
                  <th>Tên Khách Hàng</th>
                  <th>Email</th>
                  <th>Nhóm</th>
                  <th>Thao Tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                  <td th:text="${customer.customerID}"></td>
                  <td th:text="${customer.name}"></td>
                  <td th:text="${customer.email}"></td>
                  <td th:text="${customer.type}"></td>
                  <td>
                    <a class="btn btn-hover-shine btn-outline-primary border-0 btn-sm"
                       th:href="@{/customers/detail/{id}(id=${customer.customerID})}"
                       onclick="getContent(event, this.href)">
                      Detail
                    </a>
                    <a style="text-decoration: none"
                       th:href="@{/customers/edit/{id}(id=${customer.customerID})}"
                       onclick="getContent(event, this.href)">
                      <button class="btn btn-outline-warning border-0 btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                    </a>

                    <form th:action="@{/customers/delete/{id}(id=${customer.customerID})}"
                          method="post" style="display:inline;"
                          onsubmit="postContent(event, this)">
                      <input type="hidden" name="_method" value="DELETE" />
                      <button type="submit" class="btn btn-outline-danger border-0 btn-sm">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </form>
                  </td>

                </tr>
                </tbody>
              </table>
            </div>
            <!-- Table  -->

            <!-- Phân trang -->
            <nav class="d-flex justify-content-end">
              <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                  <a class="page-link"
                     onclick="getContent(event, this.href)"
                     th:href="@{'/customers?page=0&keyword=' + keyword}">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                  <a class="page-link"
                     onclick="getContent(event, this.href)"
                     th:href="@{'/customers?page=' + ${i} + '&keyword=' + ${keyword}}">
                    <span th:text="${i + 1}"></span>
                  </a>
                </li>
                <li class="page-item"  th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                  <a class="page-link"
                     onclick="getContent(event, this.href)"
                     th:href="@{'/customers?page=' + ${totalPages - 1} + '&keyword=' + ${keyword}}">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- Phân trang -->
          </div>
        </section>

        <!-- footer -->
        <div th:replace="~{fragments/fragment :: footer}"></div>
      </div>
    </div>
  </div>
  <!-- section -->

</div>
</body>
</html>
