<!DOCTYPE html>
<html lang="vi">
<head>
    <div th:replace="~{fragments/fragment :: head}"></div>
</head>
<body>
<div class="container-fluid">

    <!-- header -->
    <div th:replace="~{fragments/fragment :: header}"></div>

    <!-- section -->
    <div class="d-flex">

        <!-- Sidebar-->
        <nav th:replace="~{fragments/fragment :: sidebar}"></nav>
        <!-- Sidebar -->

        <!-- Main Content -->
        <div id="mainArea">
            <div th:fragment="dashboard">

                <section class="content-header">
                    <h1>Trang chủ</h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <section class="content-main px-3">
                    <!-- Nội dung dashboard -->
                    <!-- dashboard -->
                    <div class="row">
                        <!-- Đơn hàng -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon fa-2x bg-primary"><i class="fas fa-file-invoice-dollar"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Đơn hàng</span>
                                    <span class="info-box-number" th:text="${totalOrders}"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Tồn kho -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon fa-2x bg-danger"><i class="fas fa-boxes"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Tồn kho</span>
                                    <span class="info-box-number" th:text="${totalProducts}"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Doanh thu -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon fa-2x bg-success"><i class="fas fa-chart-line"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Doanh thu</span>
                                    <span class="info-box-number"  th:text="${totalRevenue}"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Khách hàng -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon fa-2x"><i class="fas fa-users"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Khách hàng</span>
                                    <span class="info-box-number" th:text="${totalCustomers}"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row m-0 p-0">

                        <!-- Khách hàng chi tiêu nhiều nhất -->
                        <div class="col-md-6 col-sm-12 my-2 statistical-component mr-2">
                            <h3 class="mt-2">Khách hàng chi tiêu nhiều nhất</h3>
                            <ul class="statistical-list" th:each="customer : ${topSpendingCustomers}">
                                <li>
                                    <div class="statistical-list-info">
                                        <span th:text="${customer.name}">Khách hàng A</span>
                                    </div>
                                    <span class="statistical-list-number" th:text="${customer.totalSpend} + ' VND'">500,000 VNĐ</span>
                                </li>
                            </ul>

                            <div class="footer-list-box text-center">
                                <a href="/customers" onclick="getContent(event, this.href)">Xem tất cả khách hàng</a>
                            </div>
                        </div>

                        <!-- Sản phẩm mới nhất -->
                        <div class="col-md-6 col-sm-12 my-2 statistical-component ml-auto">
                            <h3 class="mt-2">Sản phẩm mới nhất</h3>
                            <ul class="statistical-list" th:each="product : ${lastestProducts}">
                                <li>
                                    <div class="statistical-list-info">
                                        <img class="img-fluid rounded-3"
                                             th:src="${#lists.isEmpty(product.images) ? '/images/logoSmartSeller.png'
                                                                                        : '/products/display?id=' + product.getImages().getFirst().getId()}"
                                             th:onerror="if(!this.onerror) { this.src='@{/image/noimage.jpg}'; }"

                                             style="width: 40px; height: 40px; object-fit: cover;">
                                        <a class="statistical-list-name"
                                           th:text="${product.getProductName()}"
                                           th:href="@{/products/detail/{id}(id=${product.productID})}"
                                           onclick="getContent(event, this.href)">Samsung Galaxy note 2024</a>
                                    </div>
                                    <span class="statistical-list-number"
                                          th:text="${product.getPrice()} + ' VND'">$2800</span>
                                </li>
                            </ul>

                            <div class="footer-list-box text-center">
                                <a href="/products" onclick="getContent(event, this.href)">Xem tất cả sản phẩm</a>
                            </div>
                        </div>

                        <!--Sản phẩm bán chạy nhất-->
                        <div class="col-md-6 col-sm-12 my-2">

                        </div>

                        <!-- Đơn hàng gần đây -->
                        <div class="col-md-12 col-sm-12 my-2 new-orders">
                            <h3 class="mt-2">Đơn hàng mới nhất</h3>
                            <div class="table-responsive new-orders-list">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Mã đơn hàng</th>
                                            <th>Khách hàng</th>
                                            <th>Ngày đặt hàng</th>
                                            <th>Tổng giá</th>
                                            <th>Tình trạng</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${recentOrders}">
                                        <td th:text="'#' + ${order.orderId}"></td>
                                        <td th:text="${order.customer.name}"></td>
                                        <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy')}"></td>
                                        <td th:text="${order.formattedTotalAmount} + ' VND'"></td>
                                        <td>
                                            <span class="btn2"
                                                  th:classappend="${order.orderStatus.name() == 'Processing' ? 'btn2-warning' :
                                                                   (order.orderStatus.name() == 'Delivering' ? 'btn2-info' :
                                                                   (order.orderStatus.name() == 'Completed' ? 'btn2-success' :
                                                                   (order.orderStatus.name() == 'Cancelled' ? 'btn2-danger' : '')))}"
                                                  th:text="${order.orderStatus}">
                                            </span>
                                        </td>
                                        <td>
                                            <a class="recentOrderDetail" th:href="@{/orders/detail/{id}(id=${order.orderId})}"
                                               onclick="getContent(event, this.href)">Xem chi tiết</a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>


                </section>

                <!-- footer -->
                <div th:replace="~{fragments/fragment :: footer}"></div>
            </div>
        </div>
        <!-- Main Content -->

    </div>
    <!-- section -->

</div>
</body>
</html>
